* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #202225;
  overflow: hidden;
}

.moon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: contents;
}

.moon {
  font-family: 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', Times,
    Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
  font-size: 5rem;
  transition: 0.5s;
  opacity: 0.35;
  will-change: contents;
}

/*Light effect*/
/* .moon-container:nth-child(1) {
  z-index: -1;
  opacity: 1 !important;
  will-change: contents;
}

.moon-container:nth-child(1)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(40px);
  will-change: contents;
} */
